/* Outlook Improver Styles */

.ESO13 {
	color: aquamarine !important;
	font-weight: bold !important;
}

.lME98 {
	color: lightslategray !important;
}

.S2NDX {
	gap: 4px !important;
}

.hDNlA {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
